/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tab-nav .button,
.tab-nav button,
.tab-nav input[type="submit"],
.tab-nav input[type="reset"],
.tab-nav input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  font-family: Verdana, sans-serif;
  color: #6e6974; 
  text-align: center;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #aaa;
  cursor: pointer;
  box-sizing: border-box;
}

.tab-nav .button:hover,
.tab-nav button:hover,
.tab-nav input[type="submit"]:hover,
.tab-nav input[type="reset"]:hover,
.tab-nav input[type="button"]:hover {
  color: #1e1b20;
  border-color: #474747;
  outline: 0;
}

.tab-nav .button.button-primary,
.tab-nav button.button-primary,
.tab-nav input[type="submit"].button-primary,
.tab-nav input[type="reset"].button-primary,
.tab-nav input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

.tab-nav .button.button-primary:hover,
.tab-nav button.button-primary:hover,
.tab-nav input[type="submit"].button-primary:hover,
.tab-nav input[type="reset"].button-primary:hover,
.tab-nav input[type="button"].button-primary:hover,
.tab-nav .button.button-primary:focus,
.tab-nav button.button-primary:focus,
.tab-nav input[type="submit"].button-primary:focus,
.tab-nav input[type="reset"].button-primary:focus,
.tab-nav input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}


.tab-nav {
  list-style: none;
  border-bottom: 1px solid #aaa;
  padding-left: 5px;
}

.tab-nav li {
  display: inline;
}

.tab-nav li a.button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
  border-bottom: none;
}

.tab-nav li a.active.button {
  border-bottom: 0.175em solid #fff;
}

.tab-content .tab-pane {
  block-size: 20lh;
  overflow-y: auto;
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}